
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),  url('Montserrat-Medium.woff') format('woff'), url('Montserrat-Medium.ttf')  format('truetype'), url('Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
